# Ignore credenctials
.env
.secrets

# Ignore environment files
venv/
env/
.venv/
ENV/

# Ignore cache files
__pycache__/
*.py[cod]
*$py.class
.cache

# Ignore build and distribution files
dist/
build/
*.egg-info/
*.egg
*.whl

# Ignore log files
*.log
logs/

# Ignore database files
*.db
*.sqlite3

# Ignore file system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook
.ipynb_checkpoints/

# Ignore testing files
.pytest_cache/

# Ignore coverage files
.coverage
htmlcov/

# Ignore mypy files
.mypy_cache/

# Ignore Sphinx files
docs/_build/

# Ignore local configuration files
config.json